.login{
    height:100vh;
    background-image:linear-gradient(#0000007e ,#0000007e), url(/background_banner.jpg);
    padding: 20px 8%;
}
.login.logo{
    width:150px;
}

.login-from{
    width:100%;
    max-width: 450px;
    background: rgba(0,0,0,0.75);
    border-radius: 4px;
    padding:60px;
    margin: auto;
}
.login-from h1{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-from input{
    width:100%;
    height:50px;
    background: #333;
    color:white;
    margin: 12px 0;
    border:0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size:16px;
    font-weight: 500;
}

.login-from input ::placeholder{
    font-size:16px;
    font-weight: 500;
}

.login-from button{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

form-help{
    display: flex;
    align-items: center;
    
}