.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;

}

/* Horizontal scroll container */
.card-list {
  display: flex;
  overflow-x: scroll; 
  gap: 10px;  /* or scroll */
}

.card-list::-webkit-scrollbar{
  display: none;
}
/* Chrome / Edge / Safari hide scrollbar */
.card-list img{
  width: 240px;
  border-radius:4px;
  cursor: pointer;
}

/* Cards big enough so total width > screen */
.card-list .card {
  position: relative;
}

.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: right;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.card-list .card:hover {
  transform: scale(1.03);
  
}

